<h1>Admin::Categories#index</h1>
<p>Find me in app/views/admin/categories/index.html.erb</p>
<% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to 'Show', admin_category_path(category) %></td>
      <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
      <td><%= link_to 'Destroy', admin_category_path(category), data: {"turbo-method": :delete} %></td>
    </tr>
  <% end %>
  <%= link_to 'New category', new_admin_category_path %>